/* 
* Simple UI | MIT License 
*
* A simple front-end design toolkit built with Sass for developing
* mobile-first responsive, browser-consistent web apps. 
*
* Author: Milee Yu https://mileeyu.com
* Source/documentation: https://github.com/mileeme/simple
 */
/* -----------------------------------------------------------------
Configuration
----------------------------------------------------------------- */
/* 
* Variables
 */
/* -----------------------------------------------------------------
Containers
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Breakpoints
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Global colors
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Typography
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Spacing
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Borders
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Buttons
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Forms
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Tables
----------------------------------------------------------------- */
/* 
* Mixins
 */
/* -----------------------------------------------------------------
Breakpoints
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Container
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Toggle triangle
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Reset
----------------------------------------------------------------- */
/* 
* Reset
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

/* -----------------------------------------------------------------
Components 
----------------------------------------------------------------- */
/* 
* Components
 */
/* -----------------------------------------------------------------
Scaffolding
----------------------------------------------------------------- */
html {
  font: normal normal normal 1rem/1.6;
  font-size: 1rem;
  scroll-behavior: smooth;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  background: #ffffff;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 1.7rem;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 2.193rem;
  }
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 48rem) {
  h2 {
    font-size: 1.935rem;
  }
}

h3 {
  font-size: 1.25rem;
}

@media (min-width: 48rem) {
  h3 {
    font-size: 1.6125rem;
  }
}

h4 {
  font-size: 1.1rem;
}

@media (min-width: 48rem) {
  h4 {
    font-size: 1.419rem;
  }
}

h5 {
  font-size: 1rem;
}

@media (min-width: 48rem) {
  h5 {
    font-size: 1.29rem;
  }
}

h6 {
  font-size: 0.9rem;
}

@media (min-width: 48rem) {
  h6 {
    font-size: 1.161rem;
  }
}

p, ol, ul, dl, table {
  margin: 0 0 1rem 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

mark {
  padding: 0 0.2rem;
}

blockquote {
  margin: 0 0 1rem 0;
  padding: 0 1.5rem;
}

cite {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: right;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  height: 0;
  border-top: 1px solid;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

@media (min-width: 48rem) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 75rem) {
  .container {
    max-width: 1140px;
  }
}

/* -----------------------------------------------------------------
Helpers
----------------------------------------------------------------- */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: block;
}

.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* -----------------------------------------------------------------
Grid
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Layout
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Buttons
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Forms
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Navigation
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Tables
----------------------------------------------------------------- */
table {
  border-collapse: collapse;
}
